
<div class="row">
    <div class="col-md-5">
        <ul>
            <li class="list-item"><a target="_blank" href="/Parties/APIPartyList">Parties</a></li>
            <li class="list-item"><a target="_blank" href="/President/APIPresidentList">Presidents</a></li>
        </ul>
    </div>
</div>
